:root{
    --blue-dark: #1c2e35;
    --blue-dark-secondary: #172447;
    --blue: #298bf6;
    --blue-hover: rgba(41, 139, 246,.6);
    --font-primary: 'DM Serif Text', serif;
    --font-secondary: 'Montserrat', sans-serif;
}

*{
    margin:0;
    padding:0;
    font-family: var(--font-secondary);
}

.conteudo{
    display: grid;
    grid-template-rows: 20% 80%;
    grid-template-columns: 1fr;
    grid-template-areas: 'desenho' 'login';
    overflow: scroll;
    height: 100vh;
    width: 100vw;
}

.conteudo .area-login{
    background: var(--blue-dark);
    grid-area: login;
}

.conteudo .area-login .logo{
    max-width: 400px;
}

.conteudo .area-desenho{
    grid-area: desenho;
    text-align:center;
}

.conteudo .area-desenho .desenho{
    height: 100%;
}





@media(min-width: 1024px){
    .conteudo{
        display: grid;
        grid-template-columns: 400px 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 'login desenho';
        overflow: hidden;
        height: 100vh;
        width: 100vw;
    }
    
    .conteudo .area-login{
        background: var(--blue-dark);
        padding: 0 60px;
        grid-area: login;
    }
    
    .conteudo .area-login form{
        width: 100%;
        font-size: 1.1rem;
    }
    
    .conteudo .area-login p{
        font-size: 1.2rem;
        color:#fff;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1.2rem;
    }
    
    .conteudo .area-login form input{
        display: block;
        width: 95%;
        margin: 15px 0;
        padding: 8px;
        border-radius: 8px;
        border: none;
        outline: none;
        font-size: 1.2rem;
        color: var(--blue-dark);
    }
    
    .conteudo .area-login form button{
        width: 100%;
        margin-top: 20px;
        padding: 8px;
        background: var(--blue);
        font-weight: 800;
        text-transform: uppercase;
        color: #fff;
        border: none;
        outline: none;
        border-radius: 8px;
        cursor: pointer;
        transition: .4s;
        font-size: 1.2rem;
    }
    
    .conteudo .area-login form button:hover{
        background: var(--blue-hover);
    }
    
    .conteudo .area-desenho{
        display: block;
        text-align: center;
        grid-area: desenho;
    }
    
    
    
    .logo{
        width: 100%;
        margin-top: 100px;
    }
    
    .desenho{
        width: 80%;
    }
}


